beautifulsoup4
Bottleneck
bs4
certifi
charset-normalizer
click
colorama
DateTime
Flask
gunicorn
heroku
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
numexpr
numpy
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
soupsieve
threadpoolctl
typing-extensions
urllib3
Werkzeug
wincertstore
zipp
zope.interface
