@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Button */
.btn {
  background-color: rgb(252, 166, 180);
  color: black;
  font-size: 20px;
  border: none;
  margin: 10px;
}

/* When Button is hovered */
.btn:hover {
  background-color: gray;
  color: white;
}

.btn::after {
  background-color: gray;
  color: white;
}

